* {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  /*background: linear-gradient(brown, #004b6f);
  background-attachment: fixed;*/
  background-image: url('bg.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*background-position: center;*/
}

html,
body {
  margin: 0px;
  padding: 2px;
}

#divUpload {
  display: none;
  position: fixed;
  box-shadow: 0 0 10px #555;
  height: 12%;
  top: 38%;
  left: 12%;
  right: 12%;
  border-radius: 8px;
  border: 1px solid black;
  padding: 5px;
  background-color: floralwhite;
}

.divBar {
  position: sticky;
  box-shadow: 0 0 10px #555;
  top: 0;
  padding: 2px;
  background-color: darkcyan;
  border-radius: 5px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

select {
  height: 32px;
  background-color: aliceblue;
  border-radius: 5px;
  border: 1px solid black;
}

input {
  text-align: center;
  padding: 5px;
  background-color: aliceblue;
  border-radius: 5px;
  border: 1px solid black;
}

table {
  width: 100%;
  box-shadow: 0 0 10px #555;
  margin-bottom: 35px;
  text-align: center;
  border-collapse: collapse;
  border: 1.5px solid black;
}

th {
  height: 35px;
  position: sticky;
  top: 48px;
  background-color: lawngreen;
  border: 0.5px solid black;
}

td {
  height: 30px;
  background-color: lightyellow;
  border: 0.5px solid black;
}

td:active {
  background-color: lightpink;
}