* {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  margin: 0px;
  padding: 2px;
  background: linear-gradient(brown, #004b6f);
  background-attachment: fixed;
}

#divUpload {
  display: none;
  position: fixed;
  height: 12%;
  top: 40%;
  left: 12%;
  right: 12%;
  border-radius: 8px;
  border: 2px solid black;
  padding: 5px;
  background-color: lightcyan;
}

.divBar {
  position: sticky;
  top: 0;
  padding: 2px;
  background-color: darkcyan;
  border-radius: 5px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

select {
  height: 32px;
  background-color: aliceblue;
  border-radius: 5px;
  border: 1px solid black;
}

input {
  text-align: center;
  padding: 5px;
  background-color: aliceblue;
  border-radius: 5px;
  border: 1px solid black;
}

table {
  width: 100%;
  margin-bottom: 35px;
  text-align: center;
  border-collapse: collapse;
  border: 1.5px solid black;
}

th {
  height: 35px;
  position: sticky;
  top: 48px;
  background-color: greenyellow;
  border: 0.5px solid black;
}

td {
  height: 30px;
  background-color: lightyellow;
  border: 0.5px solid black;
}

td:active {
  background-color: lightpink;
}